# AWS Configuration
aws_region = "eu-west-1"

# Project Configuration
project_name = "cde-infra"
environment  = "prod"

# Tags
tags = {
  Project     = "CDE Infrastructure"
  ManagedBy   = "Terraform"
  Environment = "prod"
}
